@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
}
h1
{
    font-size: 4.5rem;
}
section
{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.paper
{
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}
svg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}
